body {
  margin: 0 auto;
  padding: 0;
  font-family: arial, sans-serif;
  width: 60%;
  text-align: center;
}

body h1 {
  font-size: 3em;
  margin-bottom: 5%;
}


body#flex-container {
  display: flex;
  flex-flow: column nowrap;
}

#game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

#game-board div {
  display: flex;
  flex: 1 1 32%;
  justify-content: center;
  align-items: center;

  height: 1em;
  font-size: 5.5em;
  font-weight: 900;
}

#game-board div.middle {
  border-top-style: solid;
  border-bottom-style: solid;
}

#game-board div.center {
  border-left-style: solid;
  border-right-style: solid;
}

ul#score-board {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 3em 0 2em 0;
  font-weight: 700;
}

ul#score-board li {
  flex: 1 1 0px;
}
